:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVY-BLUE: #2E2F42;
    --GREEN: #31D0AA;
    --SLATE: #434455;
    --LIGHT-SLATE: #8E8F99;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
    --NAVY-BLUE-MODAL: #2E2F4266;
    --GREY: #2E2F42B2;
    --WHITE: #FFFFFF;
    --DAIRY: #FCFCFC;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: var(--WHITE);
    color: var(--SLATE);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-decoration: none;
    color: var(--IRIS)
}
.link {
    text-transform: uppercase;
}
.studio {
    color: var(--NAVY-BLUE)
}
}
.list {
    list-style: none;
    font-style: normal;
    color: var(--SLATE);
}
.list > .list-studio {
    color: var(--NAVY-BLUE);
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    list-style: none;
}
.first-section {
    background-color: var(--NAVY-BLUE);
}
.first-section > h1 {
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.12px;
    color: var(--WHITE);
}
.order-service {
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: var(--IRIS);
    color: var(--WHITE);
    cursor: pointer;

}
.second-section > h2 {
    color: var(--WHITE)
}
.second-section li {
    list-style: none;
}
.second-section h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.second-section p {
    color: var(--SLATE);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.third-section > h2 {
    text-align: center;
    font-size: 36px;
    font-size: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.third-section li {
    list-style: none;
}
.fourth-section {
    background-color: var(--CLOUD);
}
.fourth-section h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.fourth-section li {
    list-style: none;
}
.footer {
    background-color: var(--NAVY-BLUE);
    color: var(--CLOUD);
}
.footer-logo {
    color: var(--CLOUD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer p {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}