
:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVY-BLUE: #2E2F42;
    --GREEN: #31D0AA;
    --SLATE: #434455;
    --LIGHT-SLATE: #8E8F99;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
    --NAVY-BLUE-MODAL: #2E2F42;
    --GREY: #2E2F42;
    --WHITE: #FFFFFF;
    --DAIRY: #FCFCFC;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: var(--WHITE);
    color: var(--SLATE);
    width: 1440px;
}
img {
    display: block;
}
.top-line-header {
    border-bottom: 1px solid var(--CORNFLOWER)
}
.top-line-container {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation {
    display: flex;
    align-items: center;
}
.list-navigation {
    display: flex;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-decoration: none;
    color: var(--IRIS);
    text-transform: uppercase;
    margin-right: 76px;
}
.address {
    display: flex;
    margin: 0 auto;
}
.link {
    text-decoration: none;
}
.studio {
    color: var(--NAVY-BLUE)
}

.list .link {
    color: var(--NAVY-BLUE);
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.address-list {
    display: flex;
    gap: 40px; 
}
.address .contacts {
    color: var(--SLATE);
}
.list .link:hover {
    color: var(--OCEAN);
}
.list .link:focus {
    color: var(--OCEAN);
}
.list {
    font-style: normal;
    color: var(--SLATE);
    list-style: none;
}
.address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    list-style: none;
}
.studio {
    padding: 24px 0;
}










.first-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--NAVY-BLUE);
    align-items: center;
    justify-content: center;
}
.first-section h1 {
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--WHITE);
    max-width: 496px;
    margin-left: 316px;
}
.order-service {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--IRIS);
    color: var(--WHITE);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: 480px;
}
.order-service:hover {
    background-color: var(--OCEAN);
}
.order-service:focus {
    background-color: var(--OCEAN);
}





.second-section {
    padding: 120px 0;
}
.about-us-list {
    display: flex;
    gap: 24px;
    
}
.about-us-list-item > .list-paragraph{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);

}
.second-section .second-section-headings {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-weight: 500;
    color: var(--NAVY-BLUE-MODAL);
    margin-bottom: 8px;
}
.list-paragraph {
    color: var(--SLATE);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}




.third-section > .what-are-we-doing {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE-MODAL);
}





.fourth-section {
    background-color: var(--CLOUD);
}
.fourth-section .our-team {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE);
}
.third-section-headings {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}
.list-team {
    background-color: var(--WHITE);
}





.footer {
    background-color: var(--NAVY-BLUE);
    color: var(--CLOUD);
}
.footer-logo {
    color: var(--IRIS);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer .footer-paragraph {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.footer .studio {
    color: var(--CLOUD);
}

















.portfolio-buttons {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    text-align: center;
    color: var(--IRIS);
    background-color: var(--CLOUD);
    cursor: pointer;
}
.portfolio-buttons:hover {
    color: var(--WHITE);
    background-color: var(--OCEAN);
}
.portfolio-buttons:focus {
    color: var(--WHITE);
    background-color: var(--OCEAN);
}



.list-of-links {
    background-color: var(--WHITE);
}
.portfolio-headings {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.portfolio-paragraphs {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--SLATE);
}